[Unit]
Description=Puma Ruby Application

[Service]
User={{ userapp }}
Group={{ groupuser}}
WorkingDirectory=/home/{{ appuser }}/reddit
ExecStart=/home/{{ workappdir }}/puma -d 

[Install]
WantedBy=multi-user.target